$escapiumFontHeading: "Montserrat";
$escapiumFontParagraph : "Hind";
$escapiumRed: #F60B0E;

$darkestBackground: #1B1B1B;

$darkBackground: #222222;

$whiteBackground: #fefefe;

$globalFontColor: #717171;

$navFontcolor: #777;
$sidebarBackground: #252525;
$navBarColor: #cbcbcb;

@mixin button {
    width: 250px;
    border: 1px solid #777;
    border-radius: 50px;
    text-align: center;
    padding: 5px 0;
    color: $whiteBackground;
    font-weight: 600;

    &:hover {
        background-color: $escapiumRed;
        box-shadow: 0px 0px 5px $whiteBackground;
        border: none;
    }
}

@mixin pageButton {
    border: 1px solid $navFontcolor;

    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 5px;
    text-align: center;
    padding-top: 7px;

    &:hover {
        background-color: $escapiumRed;
        border: none;
    }
}