@use "../util/fonts" as *;
@use "../util/reset" as *;
@use "../util/utilities" as *;

main {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.aboutCenterSections {
  background-color: $darkBackground;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#certificates {
  align-items: center;
}

.certificates {
  margin-bottom: 20px;
}

.teamMembers {
  margin-bottom: 20px;
}

#whatPeopleSay {
  align-items: center;
  background-color: $darkestBackground;
}

#FAQ {
  display: flex;
  flex-direction: column;
  color: $darkBackground;
  background-color: white;
}
#h3FAQ {
  color: $darkBackground;
}
#faqQuestions {
  display: flex;
  flex-direction: row;
  color: $darkBackground;
}
.fa-thin fa-plus {
  color: $darkBackground;
}
