@use "../util/fonts" as *;
@use "../util/reset" as *;
@use "../util/utilities" as *;

main {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.aboutCenterSections {
  background-color: $darkBackground;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pPlay {
  margin-bottom: 40px;
}

#certificates {
  align-items: center;
}

.certificates {
  margin-bottom: 20px;
}

.teamMembers {
  margin-bottom: 20px;
}

#whatPeopleSay {
  align-items: center;
  background-color: $darkestBackground;
}
.peopleSay {
  margin-bottom: 20px;
}

#tiffany {
  font-size: smaller;
  font-weight: 900;
}

#FAQ {
  display: flex;
  flex-direction: column;
  color: $darkBackground;
  background-color: white;
}
#h3FAQ {
  color: $darkBackground;
}
.faqQuestions {
  display: flex;
  flex-direction: row;
  color: $darkBackground;
  i {
    margin-right: 10px;
    color: $darkBackground;
  }
  p {
    justify-content: center;
  }
}
