@use "../util/utilities";

#blogs{
    background-color: utilities.$darkBackground;
    font-family: utilities.$escapiumFontParagraph;
    
}

body{
    color: utilities.$globalFontColor;
}

h2,h3{
    color: utilities.$whiteBackground;
}

.blogs_nav{
    display: flex;
    width: 100%;
    justify-content: center;
}

.blogs_categories{
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    hr{
        width: 35px;
        border-top: 4px solid #71717159;
        color: #71717159;
    }
    ul{
        list-style: none;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 0.7rem;
    }
}

.recentPost{
    display: flex;
    justify-content: space-around;
    align-items: center;
    h3{
        text-transform: uppercase;
        font-size: 0.7rem;
    }
}

@media (max-width: 768px){
    hr{
        width: 35px;
        border-top: 4px solid #71717159;
        color: #71717159;
        height: 3px;
    }
    .blogs_blogPosts{
        padding: 35px 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap : 50px;

    }
    .blogs_card{
        width: 380px;
        box-shadow: 0px 0px 50px black;
        height: 650px;
        
        &-image{
            img{
                width: 100%;
                height: auto;
                max-height: 200px;
            }
        }
        &-content{
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            color: utilities.$globalFontColor;
            h2{
                color: utilities.$whiteBackground;
                font-size: 2rem;
            }
            ul{
                list-style: none;
                display: grid;
                grid: 1fr 1fr / 1fr 1fr ;
            }
            
            p{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* number of lines to show */
                        line-clamp: 2; 
                -webkit-box-orient: vertical;
            }
            &-calendar::before{
                font-family: "Font Awesome 5 Free";
                content: "\f133";
                margin-right: 5px;
                color: utilities.$whiteBackground;
            }
            &-user::before{
                font-family: "Font Awesome 5 Free";
                content: "\f007";
                margin-right: 5px;
                color: utilities.$whiteBackground;
            }
            &-comment::before{
                font-family: "Font Awesome 5 Free";
                content: "\f4ad";
                margin-right: 5px;
                color: utilities.$whiteBackground;
            }
        }
    }

}