@use "../util/utilities";

#blogs{
    background-color: utilities.$darkBackground;
}

@media (max-width: 412px){
    .blogs_blogPosts{
        padding: 35px 15px;
    }
    .blogs_card{
        width: 100%;
        &-image{
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}