@use "../util/utilities" as *;

main {
    background-color: $darkBackground;
}

.level {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.linkTransparent {
    @include button;
    margin: 5px;
    font-size: 0.8rem;
}

.rooms {
    padding: 10px;
}

.one {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6237088585434174) 75%, rgba(0, 0, 0, 0.4976584383753502) 100%),
        url(../images/gallery/slide-2.jpg) no-repeat center 10%;
}

.two,
.twelve {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6237088585434174) 75%, rgba(0, 0, 0, 0.4976584383753502) 100%),
        url(../images/gallery/room-2.jpg) no-repeat center 10%;
}


.three {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6237088585434174) 75%, rgba(0, 0, 0, 0.4976584383753502) 100%),
        url(../images/gallery/room-3.jpg) no-repeat center 10%;
}

.four,
.eleven {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6237088585434174) 75%, rgba(0, 0, 0, 0.4976584383753502) 100%),
        url(../images/gallery/room-4.jpg) no-repeat center 10%;
}

.five {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6237088585434174) 75%, rgba(0, 0, 0, 0.4976584383753502) 100%),
        url(../images/gallery/room-5.jpg) no-repeat center 10%;
}

.six {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6237088585434174) 75%, rgba(0, 0, 0, 0.4976584383753502) 100%),
        url(../images/gallery/gallery-1.jpg) no-repeat center 10%;
}

.seven {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6237088585434174) 75%, rgba(0, 0, 0, 0.4976584383753502) 100%),
        url(../images/gallery/room-7.jpg) no-repeat center 10%;
}

.eight {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6237088585434174) 75%, rgba(0, 0, 0, 0.4976584383753502) 100%),
        url(../images/gallery/room-8.jpg) no-repeat center 10%;

}

.nine {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6237088585434174) 75%, rgba(0, 0, 0, 0.4976584383753502) 100%),
        url(../images/gallery/room-9.jpg) no-repeat center 10%;
}

.four,
.ten,
.eleven,
.twelve {
    display: none;
}

.card {
    text-align: center;
    height: 450px;
    margin: 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-size: cover;
    position: relative;

    .expand {
        visibility: hidden;
    }

    &:hover {

        .expand {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);

            visibility: visible;
            width: 35px;
            height: 35px;

            border-radius: 50%;
            position: relative;
            right: -80%;
            top: 5%;

            i {
                padding-top: 9px;
            }
        }
    }

    &__content {
        text-align: left;
        position: absolute;
        left: 30px;
        bottom: 30px;
        width: max-content;

        h3 {
            margin: 10px 0;
        }
    }

    &__info {
        display: flex;
        justify-content: start;
        align-items: baseline;

        &--item {
            display: flex;
            align-items: center;
            width: max-content;

            p {
                padding: 0 15px;
            }
        }
    }

    &__level {
        font-size: 0.8rem;
        width: max-content;

        &--item {
            color: $navFontcolor;
        }

        &--red {
            color: $escapiumRed;
        }
    }
}

.pages {
    a {
        @include pageButton;
    }
}

//Tablett
@media(min-width:768px) {

    .level {
        flex-direction: row;
    }

    .linkTransparent {
        width: 100px;
    }


    .rooms {
        display: grid;
        grid-template-columns: repeat(4, 180px);
        grid-gap: 10px;
        justify-content: center;
    }

    .card {
        height: 250px;

        &__content {
            display: grid;
            width: 150px;

            h3 {
                margin: 10px 0;
            }
        }

        &__info {
            flex-wrap: wrap;

            &--item {
                flex: 100%
            }
        }
    }

    .pages {
        grid-column: 1/5;
        text-align: center;
    }
}