@use "../util/utilities" as *;

#singleBlog{
    background-color: $darkBackground;
    font-family: $escapiumFontParagraph;
    .linkTransparent{
        @include button;
        padding-left: 10px;
        padding-right: 10px;
        width: fit-content;
        &-small{
            @include button;
            width: fit-content;
            padding: 10px 20px;
            border-radius: 50px;
            &:hover{
                padding: 11px 21px;
            }
        }
        &:hover{
            padding: 6px 11px;
        }
    }
    hr{
        width: 35px;
        border-top: 4px solid #71717159;
        color: #71717159;
        height: 3px;
    }
    .hero__breadcrumb{
        li{
            padding: 0px 20px;
        }
    }
    .blogs_bigContainer-firstChild{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}
.singleBlogs_flexBox{
    display: flex;
    flex-wrap: wrap;
}

.singleBlog_figure{
    overflow: hidden;
    &-picture{
        background-image: url(../images/gallery/gallery-1.jpg);
        background-repeat: no-repeat;
        //width: 100%;
    }
    figcaption{
        text-align: center;
    }
}

.escapiumSubmitBtn{
    background-color: $darkBackground;
    padding: 10px 30px;
}

.escapium_form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    input{
        background-color: $darkBackground;
        color: $globalFontColor;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: $globalFontColor;
        height: fit-content;
    }
    textarea{
        color: $globalFontColor;
        background-color: $darkBackground;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: $globalFontColor;
        grid-column: span 2;
    }
    div{
        grid-column: span 2;
    }
    label{
        background-color: $darkBackground;
        color: $globalFontColor;
    }
}

@media (max-width: 767px){
    #singleBlog{
        .blogs_bigContainer-firstChild{
            padding-top: 40px;
        }
    }
    .singleBlog_figure{
        &-picture{
            height: 320px;
            background-position: -50px;
            background-size: 109%;
        }
    }
   .escapium_form{
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 20px;
    gap: 10px;
    textarea{
        grid-column: span 1;
    }
    div{
        grid-column: span 1;
    }
   }
}

@media(min-width: 768px)and (max-width: 1024px){
    .singleBlog_figure{
        &-picture{
            height: 320px;
            background-position: -50px;
            background-size: 109%;
        }
    }
}

@media(min-width: 1025px){
    .singleBlog_figure{
        &-picture{
            height: 320px;
            background-position: -50px;
            background-size: 109%;
        }
    }



    .singleBlog_leaveComment{
        h2{
            margin-bottom: 10px;
        }
        hr{
            margin : 0 0 50px 0;
        }
    }

    
}