@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hind";
  color: #fefefe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

h1 {
  font-size: 2rem;
  color: #fefefe;
}

h3 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #777;
}

li {
  list-style: none;
}

.navbar {
  background: linear-gradient(0deg, rgba(27, 27, 27, 0.7889530812) 0%, rgba(27, 27, 27, 0.9514180672) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navbar__logo {
  max-height: 50px;
}

.navbar__logo>img {
  max-height: 50px;
}

.nav {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.nav__search {
  padding: 0 20px;
}

.nav__search.active {
  display: none;
}

.nav__menu {
  font-weight: 200;
  align-items: center;
  position: fixed;
  left: -100%;
  top: 0;
  transition: 0.3s;
  width: 70%;
  height: 100%;
  background-color: #252525;
}

.nav__menu.active {
  left: 0;
}

.nav__item {
  text-align: left;
  padding: 0px 30px;
  margin-left: 2px;
  font-size: 12px;
  font-weight: 400;
  line-height: 50px;
  text-transform: capitalize;
  border-bottom: 1px solid #777;
}

.booking__button {
  display: none;
}

/* &__login {
  &--link {
    color: $whiteBackground;

    &:hover {
      color: $escapiumRed;
    }
  }
} */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #fefefe;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (min-width: 961px) {
  .hamburger {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }

  .nav {
    width: 100%;
    /*
            &--redbar {


            }
        */
  }

  .nav__menu {
    display: flex;
    align-items: center;
    position: static;
    left: 0;
    top: 0;
    transition: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
  }

  .nav__list {
    display: flex;
    flex: 60%;
  }

  .nav__item {
    position: relative;
    border-bottom: none;
    align-items: center;
    padding: 0px 20px;
    line-height: 0px;
    z-index: 5;
  }

  .nav__link:hover {
    color: #fefefe;
  }

  .nav__link:hover::after {
    z-index: -1;
    content: "";
    position: absolute;
    left: 25%;
    top: -25px;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #F60B0E;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translateY(23px) translateX(4px) rotate(-45deg);
  }

  .nav__search {
    padding: 0px 10px;
  }

  .nav__search:hover {
    color: #F60B0E;
  }

  .nav__search::after {
    content: "|";
    position: relative;
    left: 15px;
    font-size: 1.8rem;
    color: #777;
  }

  .booking__container {
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 40%;
  }

  .booking__button {
    display: block;
  }

  .booking__button--link {
    width: 250px;
    border: 1px solid #777;
    border-radius: 50px;
    text-align: center;
    padding: 5px 0;
    color: #fefefe;
    font-weight: 600;
    width: 120px;
    display: inline-block;
    height: 30px;
    padding: 15px;
  }

  .booking__button--link:hover {
    background-color: #F60B0E;
    border: none;
  }

  .booking__login--link {
    color: #fefefe;
    text-transform: uppercase;
    font-weight: 200;
    padding-left: 5px;
  }

  .booking__login--link:hover {
    color: #F60B0E;
  }
}

header {
  text-align: center;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 74%, rgb(0, 0, 0) 100%), url(../images/gallery/slide-1.jpg) no-repeat center 10%;
  background-size: cover;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.hero__title {
  color: red;
  margin: 15px 0;
}

.hero__breadcrumb {
  display: flex;
  flex-direction: rom;
  align-items: center;
  justify-content: center;
}

.hero__breadcrumb--link {
  font-size: 0.8rem;
  padding: 5px;
}

@media (max-width: 768px) {
  header {
    height: 250px;
  }

  .hero {
    height: 200px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  header {
    height: 400px;
  }

  .hero {
    height: 350px;
  }
}

@media (min-width: 1025px) {
  header {
    height: 600px;
  }

  .hero {
    height: 550px;
    gap: 30px;
  }
}

footer {
  position: relative;
  background-color: #1B1B1B;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  z-index: 0;
}

footer::after {
  content: "";
  background: url("../images/gallery/room-7.jpg") no-repeat fixed;
  background-size: cover;
  position: absolute;
  opacity: 0.2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#footerNumbersSections {
  width: 100%;
}

.footerNumbers {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}

.footerLines {
  border-style: solid;
  border-width: 1px;
  width: 40px;
  border-color: #F60B0E;
}

h3 {
  font-family: "Montserrat";
  color: #fefefe;
  margin-top: 20px;
  margin-bottom: 20px;
}

.escapiumParagraph {
  font-family: "Hind";
  color: #717171;
}

span {
  color: #fefefe;
}

.aUseful {
  margin-bottom: 15px;
  text-decoration: none;
  font-family: "Hind";
  color: #717171;
}

#lastAUseful {
  margin-bottom: 0px;
}

.sectionsfooter {
  margin-left: 45px;
  margin-bottom: 40px;
  text-align: left;
}

#ouraddress {
  color: "Hind";
  display: flex;
  flex-direction: column;
}

#usefullinks {
  display: flex;
  flex-direction: column;
}

.hours {
  padding-left: 10px;
}

ul.social {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

ul.social>li {
  display: inline-block;
}

ul.social>li>a {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 36px;
  background-color: #222222;
  color: #fff;
  margin: 0 3px 3px 0;
}
ul.social > li > a i {
  color: white;
}

ul.social>li>a:hover {
  text-decoration: none;
  background-color: #F60B0E;
}

#footerEscapiumLogo {
  display: flex;
  justify-content: center;
}

#copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

@media only screen and (min-width: 410px) and (max-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: 20% 18% 29% 25%;
    column-gap: 10px;
    row-gap: 5px;
  }

  ul.social {
    display: grid;
    grid-template-columns: 40px 40px;
  }

  #copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
}

@media only screen and (min-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: 20% 18% 29% 25%;
    column-gap: 10px;
    row-gap: 5px;
  }

  ul.social {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    grid-template-rows: 40px 40px;
  }

  #copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
}
<<<<<<< HEAD

#home header {
  background: linear-gradient(0deg, rgb(27, 27, 27) 0%, rgba(27, 27, 27, 0.4248293067) 100%), url(../images/gallery/slide-4.jpg) no-repeat center;
  background-size: cover;
  height: 300px;
}

#home .hero h1 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

#home .hero a {
  color: #fefefe;
}

#home .hero a:hover {
  color: #F60B0E;
}

#home main {
  background-color: #1B1B1B;
}

#home main .section__title {
  text-align: center;
}

#home main .section__title h3 {
  margin-bottom: 10px;
}

#home main .section__title a {
  font-size: 12px;
  color: #F60B0E;
  text-decoration: underline;
}

#home main .card {
  margin-top: 50px;
  background-color: #222222;
  background-size: contain;
  background-position-y: 0%;
  height: 500px;
}

#home main .card .expand {
  display: none;
}

#home main .card__img {
  height: 220px;
  background-size: cover;
  background-position-y: 0%;
}

#home main .card__content {
  top: 50%;
  width: auto;
  padding-right: 10px;
}

#home main .card__description {
  font-size: 12px;
}

#home main .card__info {
  font-size: 10px;
  padding-bottom: 20px;
}

#home main .card__button--link {
  width: 250px;
  border: 1px solid #777;
  border-radius: 50px;
  text-align: center;
  padding: 5px 0;
  color: #fefefe;
  font-weight: 600;
  display: inline-block;
  font-size: 0.8rem;
  width: 8rem;
  background-color: red;
  border: none;
  padding: 10px 0;
  margin: 25px 0px;
}

#home main .card__button--link:hover {
  background-color: #F60B0E;
  border: none;
}

#home main .instructions {
  background-color: #222222;
}

#home main .testimonials {
  background-color: #fefefe;
}

#home main .testimonials h3 {
  color: #1B1B1B;
}

#home main .target {
  background: linear-gradient(275deg, rgba(34, 34, 34, 0) 0%, rgb(34, 34, 34) 68%, rgb(34, 34, 34) 100%), url(../images/gallery/slide-3.jpg) no-repeat left;
  background-size: 115%;
}

#home main .target__item {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 5% 0;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
}

#home main .target__item i {
  color: #F60B0E;
  font-size: 1.5rem;
  width: 20%;
}

#home main .target__item p {
  color: #fefefe;
}

#home main .gallery {
  background-color: #1B1B1B;
}

#home main .contact {
  background-color: #222222;
}

#home main .booking {
  background-color: #fefefe;
  text-align: center;
}

#home main .booking h3 {
  color: #222222;
  text-transform: capitalize;
}

#home main .booking p {
  font-size: 0.8rem;
}

#home main .booking .card__button--link {
  width: 11rem;
}

@media (min-width: 768px) {
  #home .rooms {
    display: block;
    width: 70%;
    margin: auto;
  }

  #home .rooms .section__title h3 {
    font-size: 2rem;
  }

  #home .rooms .card {
    height: 650px;
  }

  #home .rooms .card__img {
    height: 350px;
  }

  #home .rooms .card__content {
    display: inline-block;
    top: 60%;
  }

  #home .rooms .card__content h3 {
    font-size: 1.5rem;
  }

  #home .rooms__info {
    flex-wrap: unset;
  }

  #home .rooms__info--item {
    width: auto;
  }
}

header {
=======
main {
  display: flex;
  flex-direction: column;
}

#headerAbout {
>>>>>>> olivia
  text-align: center;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 74%, rgb(0, 0, 0) 100%), url(../images/gallery/slide-1.jpg) no-repeat center 10%;
  height: 200px;
  background-size: cover;
}

<<<<<<< HEAD
.herotitle {
  color: red;
  margin: 15px 0;
}

.herobreadcrumb {
  display: flex;
  flex-direction: rom;
  align-items: center;
  justify-content: center;
}

.herobreadcrumb--link {
  font-size: 0.8rem;
  padding: 5px;
}

main {
  display: flex;
  flex-direction: column;
}

=======
>>>>>>> olivia
h2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.aboutCenterSections {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pPlay {
  margin-bottom: 40px;
}

#video {
  width: 90%;
}

#certificates {
  align-items: center;
}

.certificates {
  width: 80%;
  margin-bottom: 20px;
}

.teamMembers {
  margin-bottom: 20px;
}

#whatPeopleSay {
  align-items: center;
  background-color: #1B1B1B;
}

.peopleSay {
  margin-bottom: 20px;
}
.peopleSay a {
  margin-bottom: 20px;
  color: #F60B0E;
  text-decoration: underline;
}

#commentAaron {
  display: none;
}

.commentName {
  font-size: smaller;
  font-weight: 900;
}

.commentPhoto {
  width: 25%;
}

#arrows {
  display: none;
  flex-direction: row;
}

#FAQ {
  display: flex;
  flex-direction: column;
  color: #222222;
  background-color: white;
}

#h3FAQ {
  text-align: center;
  color: #222222;
}

#FAQheader p {
  text-align: center;
  color: #777;
}

.faqQuestions {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #222222;
}
.faqQuestions i {
  text-align: center;
  margin-right: 30px;
  color: #717171;
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 36px;
  background-color: #f6f6f6;
}
.faqQuestions p {
  color: #222222;
  font-weight: 800;
}

#EscapeRoomHidden {
  display: none;
}

@media only screen and (min-width: 410px) and (max-width: 768px) {
  #howToPlay {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  #video {
    width: 80%;
  }
  #certificates {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .certificates {
    width: 40%;
  }
  #ourTeam {
    display: flex;
    flex-direction: row;
  }
  #testimonials {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .commentPhoto {
    width: 25%;
  }
  #commentAaron {
    display: block;
  }
  #commentTiffany {
    display: block;
  }
  #arrows {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  #arrows a {
    color: white;
  }
  #slash {
    transform: scaleX(-1);
  }
  #faqquestions {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 30px;
  }
  #EscapeRoomHidden {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .aboutSectionDark {
    background-color: #1B1B1B;
  }
  #howToPlay {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .play {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  .pPlay {
    width: 50%;
  }
  #video {
    width: 90%;
  }
  #certificates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .certificates {
    width: 10%;
  }
  #ourTeam {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #testimonials {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  #commentAaron {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #commentTiffany {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .peopleSayComment {
    width: 40%;
  }
  .commentPhoto {
    width: 10%;
  }
  #arrows {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  #arrows li a {
    color: white;
  }
  #slash {
    transform: scaleX(-1);
  }
  #FAQheader {
    margin-bottom: 20px;
  }
  .faqQuestions {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 30px;
  }
  #faqquestions {
    width: 40%;
    margin: auto;
  }
  #EscapeRoomHidden {
    display: flex;
    margin: auto;
  }
  #EscapeRoomHidden #response {
    display: flex;
    text-align: justify;
    color: #717171;
    font-weight: 400;
  }
  #questionResponse {
    display: flex;
    flex-direction: column;
  }
  #EscapeRoomNotHidden {
    display: none;
  }
}
#blogs {
  background-color: #222222;
  font-family: "Hind";
}

#blogs body {
  color: #717171;
}

#blogs h2,
#blogs h3 {
  color: #fefefe;
}

#blogs h2 {
  padding-bottom: 10px;
  margin: 0;
}

#blogs .linkTransparent {
  width: 250px;
  border: 1px solid #777;
  border-radius: 50px;
  text-align: center;
  padding: 5px 0;
  color: #fefefe;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
}

#blogs .linkTransparent:hover {
  background-color: #F60B0E;
  box-shadow: 0px 0px 5px #fefefe;
  border: none;
}

#blogs .linkTransparent-small {
  width: 250px;
  border: 1px solid #777;
  border-radius: 50px;
  text-align: center;
  padding: 5px 0;
  color: #fefefe;
  font-weight: 600;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 50px;
}

#blogs .linkTransparent-small:hover {
  background-color: #F60B0E;
  box-shadow: 0px 0px 5px #fefefe;
  border: none;
}

#blogs .linkTransparent-small:hover {
  padding: 11px 21px;
}

#blogs .linkTransparent:hover {
  padding: 6px 11px;
}

#blogs hr {
  width: 35px;
  border-top: 4px solid rgba(113, 113, 113, 0.3490196078);
  color: rgba(113, 113, 113, 0.3490196078);
  height: 3px;
}

.blogs_nav {
  display: flex;
  width: 100%;
  justify-content: center;
}

.blogs_categories {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blogs_categories hr {
  width: 35px;
  border-top: 4px solid rgba(113, 113, 113, 0.3490196078);
  color: rgba(113, 113, 113, 0.3490196078);
}

.blogs_categories ul {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.7rem;
}

.blogs_recentPosts {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
}

.blogs_recentPosts h2 {
  padding-bottom: 15px;
}

.blogs_recentPosts .recentPost {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  padding: 60px 0px 0px;
}

.blogs_recentPosts .recentPost h3 {
  text-transform: uppercase;
  font-size: 0.6rem;
}

.blogs_tags-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 30px 0px 20px;
}

.blogs_archives {
  padding-top: 50px;
}

.blogs_archives-container {
  display: grid;
  grid: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.blogs_archives-container a {
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  padding: 10px 0px 0px;
  font-size: 0.7rem;
}

.blogs_archives-container a:first-child {
  padding-top: 20px;
}

.blogs_instagram-link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.blogs_instagram-link a {
  padding: 10px 30px;
}

.blogs_instagram-link a:hover {
  padding: 11px 31px;
}

@media (max-width: 767px) {
  #blogs header {
    background: url(../images/gallery/slide-1.jpg) no-repeat center -50px;
  }

  .blogs_blogPosts {
    padding: 35px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }

  .blogs_card {
    width: 380px;
    box-shadow: 0px 0px 50px black;
    height: 650px;
  }

  .blogs_card-image img {
    width: 100%;
    height: auto;
    max-height: 200px;
  }

  .blogs_card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #717171;
  }

  .blogs_card-content h2 {
    color: #fefefe;
    font-size: 2rem;
    margin: 0;
  }

  .blogs_card-content ul {
    list-style: none;
    display: grid;
    grid: 1fr 1fr/1fr 1fr;
  }

  .blogs_card-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .blogs_card-content-calendar::before {
    font-family: "Font Awesome 5 Free";
    content: "\f133";
    margin-right: 5px;
    color: #fefefe;
  }

  .blogs_card-content-user::before {
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    margin-right: 5px;
    color: #fefefe;
  }

  .blogs_card-content-comment::before {
    font-family: "Font Awesome 5 Free";
    content: "\f4ad";
    margin-right: 5px;
    color: #fefefe;
  }

  .blogs_instagram-container {
    display: grid;
    grid: 1fr 1fr/1fr 1fr 1fr;
    width: 100%;
    gap: 5px;
    padding: 30px 0px;
  }

  .blogs_instagram-container img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  .blogs_instagram-link {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .blogs_bigContainer {
    display: grid;
    grid-template-columns: 512px 256px;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
  }

  .blogs_bigContainer-secondChild {
    padding-top: 20px;
    padding-left: 10px;
  }

  #blogs header {
    background: url(../images/gallery/slide-1.jpg) no-repeat center -50px;
  }

  .blogs_blogPosts {
    padding: 35px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    width: 512px;
  }

  .blogs_card {
    box-shadow: 0px 0px 50px black;
    height: 650px;
    width: 455px;
  }

  .blogs_card-image img {
    width: 100%;
    height: auto;
    max-height: 200px;
  }

  .blogs_card-content {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #717171;
  }

  .blogs_card-content h2 {
    color: #fefefe;
    font-size: 2rem;
  }

  .blogs_card-content ul {
    list-style: none;
    display: grid;
    grid: 1fr 1fr/1fr 1fr;
    font-size: 0.7rem;
  }

  .blogs_card-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .blogs_card-content-calendar::before {
    font-family: "Font Awesome 5 Free";
    content: "\f133";
    margin-right: 5px;
    color: #fefefe;
  }

  .blogs_card-content-user::before {
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    margin-right: 5px;
    color: #fefefe;
  }

  .blogs_card-content-comment::before {
    font-family: "Font Awesome 5 Free";
    content: "\f4ad";
    margin-right: 5px;
    color: #fefefe;
  }

  .blogs_instagram-container {
    display: grid;
    grid: 1fr 1fr 1fr/1fr 1fr;
    width: 100%;
    gap: 5px;
    padding: 30px 35px 30px 0px;
  }

  .blogs_instagram-container img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  .blogs_instagram-link {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 30px 40px 0px;
  }

  .blogs_instagram-link h2 {
    padding-bottom: 15px;
  }

  .blogs_recentPosts {
    padding-left: 0;
  }

  .blogs_recentPosts .recentPost {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 20px 0px 0px;
  }

  .blogs_recentPosts .recentPost hr {
    height: 1px;
    border-top: 1px;
  }

  .blogs_recentPosts .recentPost h3 {
    text-transform: uppercase;
    font-size: 0.7rem;
  }

  .blogs_tags {
    padding-left: 0px;
  }

  .blogs_categories {
    padding-left: 0px;
  }

  .blogs_categories ul {
    gap: 20px;
    letter-spacing: 2px;
  }
}

@media (min-width: 1025px) {
  .blogs_bigContainer {
    display: grid;
    grid-template-columns: 682px 342px;
    width: 100%;
    justify-content: center;
    padding-top: 60px;
    gap: 30px;
    margin-bottom: 50px;
  }

  .blogs_bigContainer-secondChild {
    padding-left: 10px;
    padding-top: 60px;
  }

  .blogs_blogPosts {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    width: 100%;
  }

  .blogs_card {
    width: 100%;
  }

  .blogs_card-image {
    z-index: -1;
    position: relative;
    right: 30px;
    top: 60px;
  }

  .blogs_card-image img {
    width: 100%;
    height: auto;
  }

  .blogs_card-content {
    background-color: #222222;
    box-shadow: 0px 0px 50px black;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #717171;
  }

  .blogs_card-content h2 {
    color: #fefefe;
    font-size: 2rem;
  }

  .blogs_card-content ul {
    list-style: none;
    display: grid;
    grid: 1fr/1fr 1fr 1fr;
    font-size: 0.7rem;
  }

  .blogs_card-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .blogs_card-content-calendar::before {
    font-family: "Font Awesome 5 Free";
    content: "\f133";
    margin-right: 5px;
    color: #fefefe;
  }

  .blogs_card-content-user::before {
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    margin-right: 5px;
    color: #fefefe;
  }

  .blogs_card-content-comment::before {
    font-family: "Font Awesome 5 Free";
    content: "\f4ad";
    margin-right: 5px;
    color: #fefefe;
  }

  .blogs_categories {
    padding-left: 0;
  }

  .blogs_recentPosts {
    padding-left: 0;
  }

  .blogs_instagram-container {
    display: grid;
    grid: 1fr 1fr/1fr 1fr 1fr;
    width: 100%;
    gap: 5px;
    padding: 30px 35px 30px 0px;
  }

  .blogs_instagram-container img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }
}

main {
  background-color: #222222;
}

.level {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.linkTransparent {
  width: 250px;
  border: 1px solid #777;
  border-radius: 50px;
  text-align: center;
  padding: 5px 0;
  color: #fefefe;
  font-weight: 600;
  margin: 5px;
  font-size: 0.8rem;
}

.linkTransparent:hover {
  background-color: #F60B0E;
  box-shadow: 0px 0px 5px #fefefe;
  border: none;
}

.rooms {
  padding: 10px;
}

.one {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.6237088585) 75%, rgba(0, 0, 0, 0.4976584384) 100%), url(../images/gallery/slide-2.jpg) no-repeat center 10%;
}

.two,
.ten {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.6237088585) 75%, rgba(0, 0, 0, 0.4976584384) 100%), url(../images/gallery/room-2.jpg) no-repeat center 10%;
}

.three {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.6237088585) 75%, rgba(0, 0, 0, 0.4976584384) 100%), url(../images/gallery/room-3.jpg) no-repeat center 10%;
}

.four,
.eleven {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.6237088585) 75%, rgba(0, 0, 0, 0.4976584384) 100%), url(../images/gallery/room-4.jpg) no-repeat center 10%;
}

.five {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.6237088585) 75%, rgba(0, 0, 0, 0.4976584384) 100%), url(../images/gallery/room-5.jpg) no-repeat center 10%;
}

.six {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.6237088585) 75%, rgba(0, 0, 0, 0.4976584384) 100%), url(../images/gallery/gallery-1.jpg) no-repeat center 10%;
}

.seven {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.6237088585) 75%, rgba(0, 0, 0, 0.4976584384) 100%), url(../images/gallery/room-7.jpg) no-repeat center 10%;
}

.eight {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.6237088585) 75%, rgba(0, 0, 0, 0.4976584384) 100%), url(../images/gallery/room-8.jpg) no-repeat center 10%;
}

.nine {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.6237088585) 75%, rgba(0, 0, 0, 0.4976584384) 100%), url(../images/gallery/room-9.jpg) no-repeat center 10%;
}

.four,
.ten,
.eleven,
.twelve {
  display: none;
}

.card {
  text-align: center;
  height: 450px;
  margin: 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-size: cover;
  position: relative;
}

.card .expand {
  visibility: hidden;
}

.card:hover .expand {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  visibility: visible;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  right: -80%;
  top: 5%;
}

.card:hover .expand i {
  padding-top: 9px;
}

.card__content {
  text-align: left;
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: max-content;
}

.card__content h3 {
  margin: 10px 0;
}

.card__info {
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.card__info--item {
  display: flex;
  align-items: center;
  width: max-content;
}

.card__info--item p {
  padding: 0 15px;
}

.card__level {
  font-size: 0.8rem;
  width: max-content;
}

.card__level--item {
  color: #777;
}

.card__level--red {
  color: #F60B0E;
}

.pages a {
  border: 1px solid #777;
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 5px;
  text-align: center;
  padding-top: 7px;
}

.pages a:hover {
  background-color: #F60B0E;
  border: none;
}

@media (min-width: 768px) {
  .level {
    flex-direction: row;
  }

  .linkTransparent {
    width: 100px;
  }

  .rooms {
    display: grid;
    grid-template-columns: repeat(4, 180px);
    grid-gap: 10px;
    justify-content: center;
  }

  .card {
    height: 250px;
  }

  .card__content {
    display: grid;
    width: 150px;
  }

  .card__content h3 {
    margin: 10px 0;
  }

  .card__info {
    flex-wrap: wrap;
  }

  .card__info--item {
    flex: 100%;
  }

  .pages {
    grid-column: 1/5;
    text-align: center;
  }
}

.room__header {
  background: linear-gradient(0deg, rgb(27, 27, 27) 0%, rgba(27, 27, 27, 0.4248293067) 100%), url(../images/gallery/slide-3.jpg) no-repeat center;
  height: 200px;
  background-size: cover;
}

.room__header--hero {
  position: relative;
  height: 70%;
  text-align: left;
  margin: 0;
  padding: 0 15px;
}

.room__header--hero h1 {
  position: absolute;
  bottom: 0;
  font-size: 1.2rem;
}

.room__main {
  background-color: #1B1B1B;
}

.room__details {
  padding: 50px 15px;
}

.room__intro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
}

.room__container {
  padding: 0 15px;
  text-align: center;
  height: 55px;
  max-width: 300px;
}

.room__container>p {
  font-size: 12px;
  color: #fefefe;
  font-weight: 500;
  padding: 15px 0;
}

.room__description p {
  padding-bottom: 20px;
}

.room__contact {
  padding: 0;
}

.room__contact--item {
  font-size: 0.8rem;
  line-height: 2rem;
  border-bottom: 2px solid #222222;
}

.room__contact--item i {
  padding-right: 15px;
}

.room__contact--item a {
  color: #fefefe;
}

.room__contact--item a:hover {
  color: #F60B0E;
}

.room__contact--item:last-child>a {
  color: #777;
}

.room__linkTransparent {
  width: 250px;
  border: 1px solid #777;
  border-radius: 50px;
  text-align: center;
  padding: 5px 0;
  color: #fefefe;
  font-weight: 600;
  display: inline-block;
  font-size: 0.8rem;
  width: 150px;
  background-color: red;
  border: none;
  padding: 15px 0;
  margin: 25px 0px;
}

.room__linkTransparent:hover {
  background-color: #F60B0E;
  border: none;
}

.room__carousel {
  padding: 0 15px;
  margin: 30px 0;
}

.room__carousel .card {
  height: 300px;
  display: none;
  /* hide all slide images not currently being viewed */
}

.room__carousel .card-item-hidden {
  display: none;
}

.room__carousel .card-item-visible {
  display: block;
  /* show current slide image */
  animation: fadeVisibility 0.5s;
  /* for fading effect when switching between slides */
}

.btn {
  border: 1px solid #777;
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 5px;
  text-align: center;
  padding-top: 7px;
}

.btn:hover {
  background-color: #F60B0E;
  border: none;
}

.btn__container {
  align-items: left;
  text-align: center;
}

.lineBreak {
  border: 1px solid #777;
  height: 65px;
  display: inline-block;
}

.separationBar {
  border: 2px solid #777;
  width: 30px;
  display: inline-block;
}

.calendar {
  background-color: #222222;
  text-align: center;
}

@media (min-width: 768px) {
  .room__details {
    display: grid;
    grid-template-columns: repeat(2, 65% 200px);
    grid-column-gap: 5%;
  }

  .room__intro {
    margin-top: 0;
  }

  .room__description {
    grid-column: 1;
  }

  .room__contact {
    grid-row: Z1/3;
    grid-column: 2;
  }
}

@media (min-width: 768px) {
  .room__details {
    max-width: 80%;
    margin: auto;
  }

  .room__intro {
    margin-top: 0;
  }

  .room__description {
    grid-column: 1;
  }

  .room__contact {
    grid-row: 1/3;
    grid-column: 2;
  }
}

#headerContacts {
  text-align: center;
  background: linear-gradient(90deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 74%,
      rgb(0, 0, 0) 100%),
    url(../images/gallery/slide-1.jpg) no-repeat center 10%;
  height: 200px;
  background-size: cover;
}

*/ .herotitle {
  color: red;
  margin: 15px 0;
}

.herobreadcrumb {
  display: flex;
  flex-direction: rom;
  align-items: center;
  justify-content: center;
}

.herobreadcrumb--link {
  font-size: 0.8rem;
  padding: 5px;
}

<<<<<<< HEAD
#singleBlog {
  background-color: #222222;
  font-family: "Hind";
}

#singleBlog .linkTransparent {
  width: 250px;
  border: 1px solid #777;
  border-radius: 50px;
  text-align: center;
  padding: 5px 0;
  color: #fefefe;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
}

#singleBlog .linkTransparent:hover {
  background-color: #F60B0E;
  box-shadow: 0px 0px 5px #fefefe;
  border: none;
}

#singleBlog .linkTransparent-small {
  width: 250px;
  border: 1px solid #777;
  border-radius: 50px;
  text-align: center;
  padding: 5px 0;
  color: #fefefe;
  font-weight: 600;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 50px;
}

#singleBlog .linkTransparent-small:hover {
  background-color: #F60B0E;
  box-shadow: 0px 0px 5px #fefefe;
  border: none;
}

#singleBlog .linkTransparent-small:hover {
  padding: 11px 21px;
}

#singleBlog .linkTransparent:hover {
  padding: 6px 11px;
}

#singleBlog hr {
  width: 35px;
  border-top: 4px solid rgba(113, 113, 113, 0.3490196078);
  color: rgba(113, 113, 113, 0.3490196078);
  height: 3px;
}

.singleBlogs_flexBox {
  display: flex;
  flex-wrap: wrap;
}

.singleBlog_figure {
  overflow: hidden;
}

.singleBlog_figure-picture {
  background-image: url(../images/gallery/gallery-1.jpg);
  background-repeat: no-repeat;
}

.singleBlog_figure figcaption {
  text-align: center;
}

input[type=checkbox] {
  background-color: #222222;
  color: #222222;
}

.escapiumSubmitBtn {
  background-color: #222222;
  padding: 10px 30px;
}

.escapium_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.escapium_form input {
  background-color: #222222;
  color: #717171;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #717171;
  height: fit-content;
}

.escapium_form textarea {
  color: #717171;
  background-color: #222222;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #717171;
  grid-column: span 2;
}

.escapium_form div {
  grid-column: span 2;
}

.escapium_form label {
  background-color: #222222;
  color: #717171;
}

@media (max-width: 767px) {
  .escapium_form {
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 20px;
    gap: 10px;
  }

  .escapium_form textarea {
    grid-column: span 1;
  }

  .escapium_form div {
    grid-column: span 1;
  }
}

@media (min-width: 1025px) {
  .singleBlog_figure-picture {
    height: 320px;
    background-position: -50px;
    background-size: 109%;
  }

  .singleBlog_leaveComment h2 {
    margin-bottom: 10px;
  }

  .singleBlog_leaveComment hr {
    margin: 0 0 50px 0;
  }
}
=======
#getInTouchHeader {
  margin-bottom: 30px;
}
#getInTouchHeader h2 {
  margin-bottom: 10px;
}

#escapiumInfos {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#escapiumInfos i {
  font-size: 30px;
  color: white;
  margin-right: 15px;
}

.escapiumInfos {
  display: flex;
  flex-direction: row;
}

#contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contactForm h2 {
  margin-bottom: 20px;
}

#contactsFormDiv {
  margin-bottom: 30px;
}

#contactsSendMessage {
  width: 250px;
  border: 1px solid #777;
  border-radius: 50px;
  text-align: center;
  padding: 5px 0;
  color: #fefefe;
  font-weight: 600;
}
#contactsSendMessage:hover {
  background-color: #F60B0E;
}

#mapTest {
  filter: grayscale(90%);
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 300px;
}

@media only screen and (min-width: 410px) and (max-width: 768px) {
  #getInTouch {
    width: 30%;
  }
  #ContactsInfosForm {
    display: flex;
    flex-direction: row;
  }
}
#contactForm {
  width: 60%;
}

@media only screen and (min-width: 768px) {
  #getInTouch {
    width: 30%;
  }
  #ContactsInfosForm {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
#contactForm {
  width: 60%;
}

#maps {
  display: flex;
  margin: auto;
  width: 90%;
}

#mapTest {
  margin-top: 50px;
  margin-bottom: 50px;
}
>>>>>>> olivia
