@use '../util/utilities' as *;
// Mobile

.navbar {
  background: linear-gradient(0deg, rgba(27, 27, 27, 0.788953081232493) 0%, rgba(27, 27, 27, 0.9514180672268907) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  &__logo {
    max-height: 50px;

    >img {
      max-height: 50px;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  padding: 0 10px;

  &__search {
    padding: 0 20px;

    &.active {
      display: none;
    }
  }

  &__menu {
    font-weight: 200;
    align-items: center;
    position: fixed;
    left: -100%;
    top: 0;
    transition: 0.3s;
    width: 70%;
    height: 100%;
    background-color: $sidebarBackground;

    &.active {
      left: 0;
    }
  }

  &__item {
    text-align: left;
    padding: 0px 30px;
    margin-left: 2px;
    font-size: 12px;
    font-weight: 400;
    line-height: 50px;
    text-transform: capitalize;
    border-bottom: 1px solid $navFontcolor;
  }
}

.booking__button {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: $whiteBackground;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger {
  display: block;
  cursor: pointer;

  &.active .bar:nth-child(2) {
    opacity: 0;
  }

  &.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  &.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}


// Desktop

@media(min-width:961px) {
  .hamburger {
    display: none;
  }

  .navbar {
    justify-content: space-between;

  }

  .nav {
    width: 100%;

    &__menu {
      display: flex;
      align-items: center;
      position: static;
      left: 0;
      top: 0;
      transition: 0;
      width: 100%;
      height: auto;
      background-color: transparent;
    }

    &__list {
      display: flex;
      flex: 60%;
    }
  

    &__item {
      position: relative;
      border-bottom: none;
      align-items: center;
      padding: 0px 20px;
      line-height: 0px;
      z-index: 5;
    }

    &__link {

      &:hover {
        color: $whiteBackground;


        &::after {
          z-index: -1;

          content: "";
          position: absolute;
          left: 25%;
          top: -25px;
          display: block;
          width: 30px;
          height: 2px;
          background-color: $escapiumRed;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          transform: translateY(23px) translateX(4px) rotate(-45deg);
        }
      }
    }
  


    /*
            &--redbar {

                
            }
        */

    &__search {
      padding: 0px 10px;

      &:hover {
        color: $escapiumRed;
      }

      &::after {
        content: "|";
        position: relative;
        left: 15px;
        font-size: 1.8rem;
        color: $navFontcolor;
      }
    }
  }
  

  .booking {
    &__container {
      display: flex;
      align-items: center;
      justify-content: end;
      flex: 40%;
    }

    &__button {
      display: block;

      &--link {
        @include button;
        width: 120px;
        display: inline-block;
        height: 30px;
        padding: 15px;
      }
    }

    &__login {

      &--link {
        color: $whiteBackground;
        text-transform: uppercase;
        font-weight: 200;
        padding-left: 5px;

        &:hover {
          color: $escapiumRed;
        }
      }
    }
  }
}
